# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Poetry

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/
.pytest_cache/

# VS Code
.vscode/

# MyPy, Pyright
.mypy_cache/
.pyright/

# Docker
*.log
docker-compose.override.yml

# MacOS
.DS_Store

# PyCharm
.idea/

# Local env files (if any)
.env
.env.*

# Coverage
.coverage
htmlcov/
.coverage.*

# Logs
logs/
*.log
